<h1>{{ mode === "create" ? "Thêm" : "Update" }} sản phẩm</h1>
<form (ngSubmit)="onSubmit()" [formGroup]="productForm">
  <div class="mb-3">
    <label class="form-label">Name Product</label>
    <input
      type="text"
      name="name"
      class="form-control"
      formControlName="name"
    />
  </div>
  <div class="mb-3">
    <label class="form-label">Price</label>
    <input
      type="text"
      class="form-control"
      name="price"
      formControlName="price"
    />
  </div>
  <div class="mb-3">
    <label class="form-label">Image</label>
    <input
      type="text"
      class="form-control"
      name="imageUrl"
      formControlName="imageUrl"
    />
  </div>

  <div class="mb-3">
    <label class="form-label">Description</label>
    <input
      type="text"
      class="form-control"
      name="description"
      formControlName="description"
    />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
